################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/*/bin
**/*/obj
**/*/*.min.*
**/*/dist
**/*/lib
**/*/.PageCaches
*.user
.idea
**/*/node_modules
**/*/wwwroot/lib
*.suo
*.userosscache
*.sln.docstates
*.cache
*.log
.DS_Store
*.pdb
